{% extends 'base.html' %}
{% load static %}
{% block pagecontent %}
<div class="wrapper">
    <!--header start-->
      {% include 'partials/headers.html' %}
      {% include 'partials/message.html' %}
      <!--general setting Start-->
      <div class="tab-pane active" id="update-password">
         <div class="tab-cntnt-inner">
            <!--main content start-->
             <div class="col-xs-12 col-md-12 inner-pages-cntnt">
               <h1>Update password</h1>
               <div class="inner-pages-box">
                  <div class="row">
                       <div class="col-xs-12 col-md-12">
                         <form method="post" id="form-profile" class="form-update-password">
                            {% csrf_token %}
                              <div class="form-group">
                                  <div class="form-row">
                                     <label for="id_new_password1">New password:</label>
                                     <input type="password" class="form-control edit-field" name="password" required="required" id="id_new_password1">
                                  </div>
                                  <div class="form-row">
                                     <label for="id_new_password2">Confirm password:</label>
                                     <input type="password" class="form-control edit-field" name="confirmpassword" required="required" id="id_new_password2">
                                  </div>
                               </div>
                           <div class="form-row">
                               <input type="submit" onClick="validatePassword();" value="Update" class="btn">
                           </div>
                         </form>
                       </div>
                  </div>
                 </div>
             </div>
       <!-- Main Content End -->
         </div>
      </div>
</div>
{% include 'partials/footer.html' %}
<script>
$(document).ready(function(){
    $(".form-update-password").validate({
        rules: {
            password:{
                required : true,
                minlength : 3,
                maxlength : 20
            },
            confirmpassword: {
                equalTo: "#password"
            }
        },
        messages: {
            password:{
                required : "Enter Password",
                minlength : "Password must have min 3 characters"
            },
            confirmpassword: " Enter Confirm Password Same as Password"
        }
    });
});

</script>
{% endblock %}
