{% load static %}

<!-- banner Section start here  -->
<section class="banner-head">
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                
            </div>
        </div>
    </div>
</section>
<!-- banner Section End here  -->

<!-- banner 2 Section start here  -->
<section class="main_content indian-table">
    <div class="container">
        <div class="row">
            <div class="col col-md-5">
                <div class="left-side">
                    <img src="{% static 'assets/img/left.png' %}">
                </div>
            </div>
            <div class="col col-md-7">
                <div class="right-side">
                    <h2>INTERESTINGLY INDIAN</h2>
                    <p>Inspired by the richness and diversity of flavours and spices across India, 
                        Riwaz brings together an authentic and eclectic melange of 
                        India’s most loved dishes, alongside some interesting twists.</p>
                    <a href="/reservations/"><button class="btn btn-large btn-resize">RESERVE A TABLE</button></a>
                    <img src="{% static 'assets/img/right.png' %}">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner 2 Section ends here  -->