{% load static %}
{% load tagconstants %}

<section class="enjoy-free">
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <div class="free-content mobile-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="233.01" height="153.347" viewBox="0 0 233.01 153.347"><defs><style>.a{fill:none;stroke:#abd7cb;stroke-miterlimit:10;stroke-width:5px;}</style></defs><g transform="translate(1767.124 -5050.26)"><path class="a" d="M48.273,2.1h0A46.273,46.273,0,0,1,94.562,48.373V150.284H2V48.373A46.273,46.273,0,0,1,48.273,2.1Z" transform="translate(-1766.624 5050.823)"/><rect class="a" width="10.968" height="37.348" transform="translate(-1753.624 5114.723)"/><rect class="a" width="65.02" height="117.325" transform="translate(-1625.433 5052.76)"/><rect class="a" width="85.811" height="15.283" transform="translate(-1635.828 5170.084)"/><rect class="a" width="112.617" height="15.74" transform="translate(-1649.231 5185.367)"/><line class="a" y1="26.266" transform="translate(-1611.981 5097.202)"/></g></svg>
                    <h2 style="font-size: 20px!important;">ENJOY FREE HOME DELIVERY UPTO 3 MILES :)</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer Section Start here  -->
<footer class="footer_section home-page-footer">
      <div class="container">
          <div class="row">
              
              <div class="col col-md-5">
                <div class="footer-logo desktop_view">
                    <img src="{% static 'assets/img/logo-tag.png' %}">
                </div>
                
                <div class="follow-us mobile-follow">
                    <!-- <span>Follow Us</span> -->
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <p>© Copyright 2021. All Rights Reserved, Riwaz.</p>
                </div>
              </div>
              <div class="col col-md-7">
                  <div class="address-footer">
                    <div class="footer-logo mobile-view">
                        <img src="{% static 'assets/img/logo-tag.png' %}" class="desktop-logo">
                        <img src="{% static 'assets/img/Gold gradient logo-01.png' %}" class="mobile-logo">
                    </div>
                    <div class="menus">
                        <ul>
                            <a href="/"><li>HOME</li></a>
                            <a href="/menu/"><li>MENU</li></a>
                            <a href="/reservations/"><li>RESERVATIONS</li></a>
                        </ul>
                        <ul>
                            <a href="/delivery/"><li>DELIVERY</li></a>
                            <li>ABOUT</li>
                            <li>OTHER LINKS</li>
                        </ul>
                        <ul>
                            <li>
                                <div class="follow-us">
                                    <!-- <span>Follow Us</span> -->
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-instagram"></i>
                            </li>
                        </div>
                        <div class="address-london">
                     <strong>47, LONDON ROAD, FOREST HILL, LONDON SE23 3TY</strong>
                      <p>020 89221472 | contactus@riwazlimited.co.uk </p>
                        </div>
                      <div class="open-hourly">
                        <strong>OPENING HOURS</strong>
                        <p> Monday - Thursday 17:00 - 22:00 | Friday - Sunday 15:00 - 22:00</p>
                       </div>
                  </div>
            </div>
          </div>
      </div>
</footer>