{% load static %}
<div class="top_logo mobile-color">
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <div class="logo_img">
                    <img src="{% static 'assets/img/Gold gradient logo-01.png' %}" class="desktop_logos">
                    <img src="{% static 'assets/img/mobile-logo.png' %}" class="mobile-logos">
                    
                </div>
                <div class="bottom-arrow">
                    <a  href="#bg-item"><i class="fa fa-angle-double-down"></i></a>
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="mobile-content banner_content logo_content text-center" id="bg-item">
    <h2>ENJOY 15% OFF TILL MARCH 31ST, 2021</h2>
</div>
