{% load static %}
<section class="vegitriations mobile-none">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="veg">
                    <div class="right-side">
                        <h2>SPICES OF LIFE</h2>
                        <p>The spices we use are sourced ethically and from trusted partners. They’re not just flavouring ingredients,
                             but literally spices that bring infinite goodness to your health and life.</p>
                    </div>
                    <div class="veg-top">
                    <div class="box-veg">
                        <img src="{% static 'assets/img/Group 870.png' %}">
                        <button id="1_childContent" class="parentButton btn btn-large btn-veg">TURMERIC <i class="fa fa-angle-down"></i></button>
                       
                    </div>
                   
                
                    <div class="box-veg">
                        <img src="{% static 'assets/img/Group 863.png' %}">
                        <button id="2_childContent" class="parentButton btn btn-large btn-veg">TURMERIC <i class="fa fa-angle-down"></i></button>
                    </div>
                  
                      
                    <div class="1_childContent hideAllconDivs">
                        <div class="veg-text">
                            <img src="{% static 'assets/img/Pindi Chole with Bhaturas.JPG' %}">
                            <p>this is for two Bay leaf is an herb that is commonly used in cooking. The leaves and oil are also used to make medicine.</p>
                            <p> People use bay leaf for diabetes, cancer, stomach problems, pain, and many other conditions,</p>
                        </div>
                    </div>

                    <div class="2_childContent hideAllconDivs">
                        <div class="veg-text">
                            <img src="{% static 'assets/img/Pindi Chole with Bhaturas.JPG' %}">
                            <p>Bay leaf is an herb that is commonly used in cooking. The leaves and oil are also used to make medicine.</p>
                            <p> People use bay leaf for diabetes, cancer, stomach problems, pain, and many other conditions,</p>
                        </div>
                    </div>
                    <div class="box-veg">
                        <img src="{% static 'assets/img/Group 862.png' %}">
                        <button class="btn btn-large btn-veg">TURMERIC <i class="fa fa-angle-down"></i></button>
                    </div>
                    <div class="box-veg">
                        <img src="{% static 'assets/img/Group 872.png' %}">
                        <button class="btn btn-large btn-veg">TURMERIC <i class="fa fa-angle-down"></i></button>
                    </div>
                    <div class="box-veg">
                        <img src="{% static 'assets/img/Group 874.png' %}">
                        <button class="btn btn-large btn-veg">TURMERIC <i class="fa fa-angle-down"></i> </button>
                    </div>
                    <div class="box-veg">
                        <img src="{% static 'assets/img/Group 873.png' %}">
                        <button class="btn btn-large btn-veg">TURMERIC <i class="fa fa-angle-down"></i></button>
                    </div>
                    <div class="box-veg">
                        <img src="{% static 'assets/img/Group 875.png' %}">
                        <button class="btn btn-large btn-veg">TURMERIC <i class="fa fa-angle-down"></i></button>
                    </div>
                    <div class="box-veg">
                        <img src="{% static 'assets/img/Group 876.png' %}">
                        <button class="btn btn-large btn-veg">TURMERIC <i class="fa fa-angle-down"></i></button>
                    </div>
                    <div class="box-veg">
                        <img src="{% static 'assets/img/Group 886.png' %}">
                        <button class="btn btn-large btn-veg">TURMERIC <i class="fa fa-angle-down"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
