{% extends 'base.html' %}
{% load static %}
{% load tagconstants %}
{% block pagecontent %}

    <div class="page-wrapper">
        {% include 'partials/header.html' %}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </div><!-- End .container -->
            </nav>

            <div class="container">
                <div class="row">
                    <div class="col-lg-9 order-lg-last dashboard-content">
                        <h2>Change Password</h2>
                        
                        <form action="{% url 'changePassword' %}" method="post" id="userChangePassword" novalidate>
                            {% csrf_token %}
                            <div class="form-group required-field">
                                <label for="acc-email">Current Password</label>
                                <input autocomplete="off" type="password" class="form-control required" id="userCurPassword" name="userCurPassword">
                            </div><!-- End .form-group -->

                            <div class="form-group required-field">
                                <label for="acc-email">New Password</label>
                                <input autocomplete="off" type="password" class="form-control required" id="userNPassword" name="userNPassword" required>
                            </div><!-- End .form-group -->

                            <div class="form-group required-field">
                                <label for="acc-password">Confirm Password</label>
                                <input autocomplete="off" type="password" class="form-control required" id="userCPassword" name="userCPassword" required>
                            </div><!-- End .form-group -->

                            <div class="mb-2"></div><!-- margin -->

                            <div class="required text-right">* Required Field</div>
                            <div class="form-footer">
                                <div class="form-footer-right">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div><!-- End .form-footer -->
                        </form>
                    </div><!-- End .col-lg-9 -->

                    <aside class="sidebar col-lg-3">
                        <div class="widget widget-dashboard">
                            <h3 class="widget-title">My Account</h3>

                            <ul class="list">
                                <li><a href="{% url 'updateUserProfile' %}">Edit Profile</a></li>
                                <li class="active"><a href="{% url 'changePassword' %}">Change Password</a></li>
                                <li><a href="{% url 'myWishlist' %}">My Wishlist</a></li>
                                <!-- <li><a href="{% url 'ordersList' %}">My Orders</a></li> -->
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div><!-- End .widget -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- margin -->
        </main><!-- End .main -->
        {% include 'partials/footer.html' %}
    </div><!-- End .page-wrapper -->

    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    {% include 'partials/mobile_menu_container.html' %}
    {% include 'partials/add_to_cart.html' %}
{% endblock %}