{% extends 'base.html' %}
{% load static %}
{% load tagconstants %}
{% block pagecontent %}

    <div class="page-wrapper">
        {% include 'partials/header.html' %}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'login' %}">Login</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
                    </ol>
                </div><!-- End .container -->
            </nav>

            <div class="container">
                <div class="row">
                  <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="heading">
                           <center> <h2 class="title">Reset Password</h2></center>
                        </div><!-- End .heading -->

                        <form action="{% url 'resetPassword' %}" method="post" id="restPassword">
                            {% csrf_token%}
                            <input autocomplete="off" type="password" id="resetPassword" name="resetPassword" class="required form-control" placeholder="New Password">
                            <input autocomplete="off" type="password" id="resetCPassword" name="resetCPassword" class="required form-control" placeholder="Confrim Password">

                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary">RESET PASSWORD</button>
                            </div><!-- End .form-footer -->
                        </form>
                    </div><!-- End .col-md-12 -->
                    <div class="col-md-3"></div>
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- margin -->
        </main><!-- End .main -->
        {% include 'partials/footer.html' %}
    </div><!-- End .page-wrapper -->

    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    {% include 'partials/mobile_menu_container.html' %}
    {% include 'partials/add_to_cart.html' %}

<!-- Forgot Password Modal Start -->
<div id="forgotPasswordModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Forgot Password</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
              <p>Please enter your valid email address</p>
              <form action="#" id="forgotPasswordForm">
                  {% csrf_token%}
                  <input type="email" name="frgtEmail" id="frgtEmail" class="form-control" placeholder="Email Address" required>
                  <div class="form-footer">
                      <button type="submit" class="btn btn-primary btnForgotPassword">Submit</button>
                      <span style="display:none;" class="sm-loader"><img src="<?php echo $this->webroot; ?>/images/loader.gif" alt="Loader"></span>
                  </div><!-- End .form-footer -->
              </form>
          </div><!-- End .col-md-6 -->
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Forgot Password Modal End -->
{% endblock %}